<div>
	<div class="main-header">
  		<h1 class="custom-title">View Detail</h1>
  	</div>
</div>
<div class="list-wrapper">
	<div *ngIf="show" class="ui card">
	  <div class="image">
	    <img src="{{user.avatar}}">
	  </div>
	  <div class="content">
	    <a class="header">{{user.first_name}} {{user.last_name}}</a>
	    <div class="meta">
	      <span class="date">Joined in 2013</span>
	    </div>
	    <div class="meta">
	      <span class="date"><i class="envelope icon"></i> {{user.email}}</span>
	    </div>
	    <div class="description">
	      {{user.first_name}} is an art director living in New York.
	    </div>
	  </div>
	   <div class="extra content">
	    <a>
	      <i class="user icon"></i>
	      22 Friends
	    </a>
	  </div>
	</div>
</div>